/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$backgroundColor: #d8bc41;
$primaryTextColor: #32477e;
$primaryFont: 'Iceland';
@font-face
{
	font-family: 'Fascinate Inline', cursive;
	font-family: 'Monoton', cursive;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Iceland', cursive;
	font-family: 'VT323', monospace;
}
body
{
	background-color:$backgroundColor;
	color:$primaryTextColor;
}
h1
{
	font-family:'Fascinate Inline';
	font-size:3em;
	text-align:center;
}
h2
{
	font-size:2em;
	font-family: $primaryFont;
	text-align:center;
	margin-top:10px;
}
p, button
{
	font-family:$primaryFont;
	font-size:18px;
}
.bold
{
	font-weight:bold;
}
#game
{
	margin-top:25px;
	text-align:center;
}
.grayScale
{
	background-image:none;
	background-color:grey !important;
	border-color:grey;
}
#dialog
{
	width: 50%;
	height:45%;
    background-color: white;
    margin-left: 25%;
    position:absolute;
    border-radius:5%;
    color: black;
    margin-right: auto;
    text-align: center;
    position: absolute;
    z-index: 1;
    border: 2px white solid;
    
    h2
    {
    	font-size:3em;
    	margin-top:5%;
    	margin-bottom:3%;
    }
    p
    {
    	font-size:1.5em;
    }
    button
    {
    	margin-top:8%;
    	font-size:1.5em;
    	width:50%;
    }
}
#isofnietRow
{
	margin-top:50px;
	.isofnietButtons
	{
		width:125px;
		height:50px;
		font-size:24px;
		color:white;
		background-color:$primaryTextColor;
		border-radius:5px;
		box-shadow: 1px 1px 5px grey;

		.extraWord
		{
			display: inline;
		    text-transform: uppercase;
		    margin-left: 4px;
		}	
	}
	p
	{
		margin-top:20px;
	}
	p:first-of-type
	{
		display:inline;
		margin:0 10px 0 10px;
	}	
}
#possibleAnswersRow
{
	margin-top:30px;

	.possibleAnswerDiv:first-of-type
	{
		margin-left:0;
	}
	.possibleAnswerDiv
	{
		width:auto;
		display:inline;
		margin-left:15px;

		.possibleAnswerButton
		{
			width:125px;
			height:50px;
			font-size:21px;
			background-color:white;
			color:$primaryTextColor;
			text-transform:capitalize;
			box-shadow: 1px 1px 5px grey;
		}
	}
}
#score
{
	margin-top:2px;
	font-size:28px;
}
#gameRulesRow
{
	margin-top:25px;
	h2
	{
		margin-bottom:10px;
	}
}
form
{
	h2
	{
		text-align:center;
		margin-bottom:1%;
	}
	button
	{
		float:right;
	}
	#extraWordExplanation
	{
		float:right;
	}
	#extraWordCheckbox
	{
		height:28px;
		margin-top:2px;
	}

}
.warningText
{
	color:red;
	text-align:center;
	margin-bottom:1%;
	margin-top:1%;
}	
#footer
{
	width:100%;
	position:fixed;
	bottom:0;
	#questionNumber
	{
		float:right;
		margin:0 40px 50px 0;
		color:white;
		opacity:0.8;
	}
}
