/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face
{
	font-family: 'Fascinate Inline', cursive;
	font-family: 'Monoton', cursive;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Iceland', cursive;
	font-family: 'VT323', monospace;
}
body
{
	background-color:black;
	color:white;
}
h1
{
	font-family:'Fascinate Inline';
	font-size:3em;
	text-align:center;
}
h2
{
	font-size:2em;
	font-family:'Iceland';
}
p, button
{
	font-family:'Iceland';
}
#game
{
	margin-top:25px;
	text-align:center;
}
.grayScale
{
	background-image:none;
	background-color:grey;
	border-color:grey;
}

#isofnietRow
{
	margin-top:20px;
	
	.isofnietButtons
	{
		width:10%;
		margin-right:1%;
		font-size:24px;

		.extraWord
		{
			display: inline;
		    text-transform: uppercase;
		    margin-left: 4px;
		}	
	}	
}
#possibleAnswersRow
{
	margin-top:20px;

	.possibleAnswerDiv
	{
		width:auto;
		display:inline;
		margin-right:1%;


		.possibleAnswerButton
		{
			width:10%;
			font-size:21px;
			background-color:purple;
			text-transform:capitalize;
		}
	}
}


