/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url("../fonts/stylesheet.css");

$backgroundColor: #d8bc41;
$primaryTextColor: #32477e;
$primaryFont: 'Futura Md BT';

body
{
	background-color:$backgroundColor;
	color:$primaryTextColor;
}
#logo
{
	display:block;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}
h2
{
	font-size:24px;
	font-family: $primaryFont;
	text-align:center;
	margin-top:10px;
}
p, button
{
	font-family:$primaryFont;
	font-size:18px;
}
button
{
	background-color:$primaryTextColor;
    color:white;
}
.bold
{
	font-weight:bold;
}
#game
{
	margin-top:45px;
	text-align:center;
}
.grayScale
{
	background-image:none;
	background-color:grey !important;
	border-color:grey;
}
#dialog
{
	width: 30em;
	height:auto;
    background-color: white;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    padding:0 20px 20px 20px;
    position:absolute;
    border-radius:5px;
    color: $primaryTextColor;
    text-align: center;
    z-index: 1;
    border: 2px white solid;
    box-shadow: 1px 1px 5px grey;
    
    h2
    {
    	font-size:2em;
    	margin-top:5%;
    	margin-bottom:3%;
    }
    p
    {
    	margin-top:30px;
    	font-size:1em;
    }
    button
    {
    	margin-top:6%;
    	font-size:1.5em;
    	width:auto;
    }
}
#isofnietRow
{
	margin-top:50px;
	.isofnietButtons
	{
		width:135px;
		height:50px;
		font-size:21px;
		border-radius:5px;
		box-shadow: 1.5px 1.5px 10px grey;
		text-transform:lowercase;
		.extraWord
		{
			display: inline;
		    margin-left: 4px;
		}	
	}
	p
	{
		margin-top:20px;
	}
	p:first-of-type
	{
		display:inline;
		margin:0 10px 0 10px;
		font-family: 'Hand writing Mutlu';
		font-size:21px;
	}	
}
#possibleAnswersRow
{
	margin-top:30px;

	.possibleAnswerDiv:first-of-type
	{
		margin-left:0;
	}
	.possibleAnswerDiv
	{
		width:auto;
		display:inline;
		margin-left:15px;

		.possibleAnswerButton
		{
			width:125px;
			height:50px;
			font-size:21px;
			background-color:white;
			color:$primaryTextColor;
			box-shadow: 2px 2px 10px grey;
		}
	}
}
#score
{
	margin-top:2px;
	font-size:28px;
}
#gameRulesRow
{
	margin-top:25px;
	h2
	{
		margin-bottom:10px;
	}
}

#footer
{
	width:100%;
	position:fixed;
	bottom:0;
	#questionNumber
	{
		float:right;
		margin:0 40px 50px 0;
		color:white;
		opacity:0.8;
		font-size:18px;
	}
}

@media (max-width:700px)
{
	#dialog
	{
		width: auto;
		margin:0 10px 0 10px;
	}
	#possibleAnswersRow
	{
		margin-left:-32px;	
		.possibleAnswerDiv
		{
			.possibleAnswerButton
			{
				width:210px;
				margin-top:10px;
			}	
		}
		.possibleAnswerDiv:first-of-type
		{
			margin-left:15px;
		}
	}
	#footer
	{
		top:160px;
		position:absolute;
		z-index:-1;
		#questionNumber
		{
			float:none;
			margin:0;
			font-size:21px;
		}
	}
}
@media (max-width:400px)
{
	#possibleAnswersRow
	{
		.possibleAnswerDiv
		{
			.possibleAnswerButton
			{
				width:250px;
				margin-top:0px;
				margin-bottom:10px;
			}				
		}
	}
	#isofnietRow p:first-of-type
	{
		display:block;
		margin-top:5px;
		margin-bottom:10px;
	}
	#isofnietRow
	{
		.isofnietButtons
		{
			width:250px;
		}
	}
}

/* Admin Styling */

#admin
{
	h2
	{
		margin-bottom:10px;
	}
	h3
	{
		font-size:18px;
		font-family: $primaryFont;
		text-align:center;
		margin-top:10px;
		margin-bottom:10px;
	}
}

form
{
	h2
	{
		margin-bottom:1%;
	}
	button
	{
		float:right;
	}
	#extraWordExplanation
	{
		float:right;
	}
	#extraWordCheckbox
	{
		height:28px;
		margin-top:2px;
		box-shadow:none;
	}

}
.warningText
{
	color:red;
	text-align:center;
	margin-bottom:1%;
	margin-top:1%;
}
#manageQuestionsTable
{
	font-size:18px;
	text-align:center;
	th
	{
		text-align:center;
		font-weight:bold;
	}
	td 
	{
		border-top:3px solid #ddd;
		text-align:center;
	}
}
