<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        
        <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
            <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <style>
            @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Iceland|Monoton|Press+Start+2P');
        </style>
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    <body ng-app="gameApp" ng-controller="MainController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Het IS of IS NIET Spel</h1>
            </div>
        </div>
        <div id="game">
            <div id="dialog" ng-show="dialogActive == true">
                <div id="foutDialog" ng-show="dialogState == 'wrongAnswer'">
                    <h2>Helaas, Dat klopt niet!</h2>
                    <p>Het juiste antwoord is : {{game.questions[currentQuestion].question}}
                        <span class="bold"> {{game.questions[currentQuestion].is}}</span> 
                        <span ng-show="questions[currentQuestion].een == 'true'">een</span>
                        <span class="bold"> {{game.questions[currentQuestion].correctAnswer}}</span>
                    </p>
                    <button class="btn btn-success" ng-click="nextQuestion()">Ga verder</button>
                </div>
                <div id="endGameDialog" ng-show="dialogState == 'endGame'">
                    <h2>Einde van het spel!</h2>
                    <p>Je hebt het spel uitgespeeld, gefeliciteerd! Je hebt {{score}} punten verdiend!</p>
                    <button class="btn btn-success" ng-click="restartGame()">Het spel nog een keer spelen?</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{game.questions[currentQuestion].question}}</h2>
                </div>
            </div>
            <div id="isofnietRow" class="row">
                <div class="col-sm-12">
                    <button ng-class="{grayScale : isTrue == 'is niet' && isTrue != ''}" ng-click="isTrue = 'is'; isTrueorFalseFilledIn = true"        class="btn isofnietButtons">IS
                            <div class="extraWord" ng-show="game.questions[currentQuestion].een == 'true'">een</div>
                    </button>
                    <p>of</p>
                    <button ng-class="{grayScale : isTrue == 'is' && isTrue != ''}" ng-click="isTrue = 'is niet'; isTrueorFalseFilledIn = true"        class="btn isofnietButtons">IS NIET
                        <div class="extraWord" ng-show="game.questions[currentQuestion].een == 'true'">een</div>
                    </button>
                    <p ng-show="isTrueorFalseFilledIn == false">Vul eerst in of het is of is niet is!</p> 
                </div>
            </div>
            <div id="possibleAnswersRow" class="row">
                <div class="col-sm-12">
                    <div class="possibleAnswerDiv" ng-repeat="possibleAnswer in game.questions[currentQuestion].possibleAnswers">
                        <button ng-click="checkAnswer(this)" class="btn possibleAnswerButton">{{possibleAnswer}}</button>
                    </div>
                </div>
            </div>
            <!-- <div id="menuRow" class="row">
                <div class="col-sm-12">
                    <p id="score">Score: {{score}}</p>
                </div>
            </div>
            <div id="gameRulesRow" class="row">
                <h2>SpelRegels</h2>
                <div class="col-sm-4 col-sm-offset-2">
                    <p>Lees de gegeven woord(en).Daarna kies je de  categorie ís'of 'is niet'.'Doelstelling is om het gegeven woord zo dichtbij mogelijk te matchen met het tegenovergestelde woord of het woord met dezelfde betekenis. Kies eerst of het hetzelfde is, of het tegenovergestelde.</p>
                </div>
                <div class="col-sm-4">
                    <p>Als je het juiste antwoord kiest, hoor je gejuich. Als je het verkeerde antwoord kiest, is er een afkeurende reactie. Het juiste antwoord heeft een relatie met het gegeven woord.
                    </p>
                </div>
            </div>
            -->
            <div id="footer" class="row">
                <div class="col-sm-12">
                    <p id="questionNumber">Vraag nummer: {{currentQuestion +1}}/{{totalQuestions}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
