<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        
        <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!--[if IE]>
            <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <style>
            @import url('https://fonts.googleapis.com/css?family=Satisfy|Source+Serif+Pro');
        </style>
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    <body ng-app="gameApp" ng-controller="MainController">
    <img class="backgroundImage" ng-src="img/background{{game.questions[currentQuestion].background}}.png"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src="img/logo1.png" class="img-fluid" id="logo">
            </div>
        </div>
        <div id="game">
            <div id="dialog" ng-show="dialogActive == true">
                <div id="foutDialog" ng-show="dialogState == 'wrongAnswer'">
                    <h2>Helaas, Dat klopt niet!</h2>
                    <p>Het juiste antwoord is : {{game.questions[currentQuestion].question}}
                        <span class="bold"> {{game.questions[currentQuestion].is}}</span> 
                        <span ng-show="game.questions[currentQuestion].een == 'true'">een</span>
                        <span class="bold"> {{game.questions[currentQuestion].correctAnswer}}</span>
                    </p>
                    <button class="btn" ng-click="nextQuestion()">Ga verder</button>
                </div>
                <div id="endGameDialog" ng-show="dialogState == 'endGame'">
                    <h2>Einde van het spel!</h2>
                    <p>Je hebt het spel uitgespeeld, gefeliciteerd! Je hebt {{score}} van de {{totalQuestions}} vragen goed beantwoord!</p>
                    <button class="btn" ng-click="restartGame()">Speel nog een keer!</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{game.questions[currentQuestion].question}}</h2>
                </div>
            </div>
            <div id="isofnietRow" class="row">
                <div class="col-sm-12">
                    <button ng-class="{grayScale : isTrue == 'is niet' && isTrue != ''}" ng-click="isTrue = 'is'; isTrueorFalseFilledIn = true"        class="btn isofnietButtons">IS<div class="extraWord" ng-show="game.questions[currentQuestion].een == 'true'">een</div>
                    </button>
                    <p>of</p>
                    <button ng-class="{grayScale : isTrue == 'is' && isTrue != ''}" ng-click="isTrue = 'is niet'; isTrueorFalseFilledIn = true" class="btn isofnietButtons">IS NIET<div class="extraWord" ng-show="game.questions[currentQuestion].een == 'true'">een</div>
                    </button>
                    <p ng-show="isTrueorFalseFilledIn == false">Vul eerst in of het is of is niet is!</p> 
                </div>
            </div>
            <div id="possibleAnswersRow" class="row">
                <div class="col-sm-12">
                    <div class="possibleAnswerDiv" ng-repeat="possibleAnswer in game.questions[currentQuestion].possibleAnswers">
                        <button ng-click="checkAnswer(this)" class="btn possibleAnswerButton">{{possibleAnswer}}</button>
                    </div>
                </div>
            </div>
            <div id="footer" class="row">
                <div class="col-sm-12">

                    <!-- <div id="gameRulesContainer">
                        <div ng-show="showGameRules" id="gameRulesPopup" class="row">
                            <h2>SpelRegels</h2>
                            <br/>
                            <p>Lees de gegeven woord(en).Daarna kies je de  categorie ís'of 'is niet'.'Doelstelling is om het gegeven woord zo dichtbij mogelijk te matchen met het tegenovergestelde woord of het woord met dezelfde betekenis. Kies eerst of het hetzelfde is, of het tegenovergestelde.</p>
                            <br/>
                            <p>Als je het juiste antwoord kiest, hoor je gejuich. Als je het verkeerde antwoord kiest, is er een afkeurende reactie. Het juiste antwoord heeft een relatie met het gegeven woord.
                            </p>
                        </div>
                        <div id="gameRulesIconContainer" ng-click="gameRules()"><i class="fa fa-info fa-3x rulesIcon" aria-hidden="true"></i></div>
                    </div> -->
                    <p id="questionNumber">Vraag: {{currentQuestion +1}}/{{totalQuestions}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
