/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("../fonts/stylesheet.css");
/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  color: #32477e;
  z-index: 1;
}

@media (max-width: 1224px) {
  /* line 21, ../sass/screen.scss */
  body {
    background-color: #b4d5f0;
    overflow-x: hidden;
  }

  /* line 26, ../sass/screen.scss */
  .backgroundImage {
    position: absolute;
    height: 100%;
    z-index: -1;
  }
}
@media (min-width: 1224px) {
  /* line 36, ../sass/screen.scss */
  .backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}
/* line 47, ../sass/screen.scss */
#logo {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

/* line 55, ../sass/screen.scss */
h2 {
  font-size: 24px;
  font-family: "Futura Md BT";
  text-align: center;
  margin-top: 10px;
}

/* line 62, ../sass/screen.scss */
p, button {
  font-family: "Futura Md BT";
  font-size: 18px;
}

/* line 67, ../sass/screen.scss */
button {
  background-color: #32477e;
  color: white;
}

/* line 72, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 76, ../sass/screen.scss */
#game {
  margin-top: 45px;
  text-align: center;
}

/* line 81, ../sass/screen.scss */
.grayScale {
  background-image: none;
  background-color: grey !important;
  border-color: grey;
}

/* line 87, ../sass/screen.scss */
#dialog {
  width: 30em;
  height: auto;
  background-color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 20px 20px;
  position: absolute;
  border-radius: 5px;
  color: #32477e;
  text-align: center;
  z-index: 1;
  border: 2px white solid;
  box-shadow: 1px 1px 5px grey;
}
/* line 105, ../sass/screen.scss */
#dialog h2 {
  font-size: 2em;
  margin-top: 5%;
  margin-bottom: 3%;
}
/* line 111, ../sass/screen.scss */
#dialog p {
  margin-top: 30px;
  font-size: 1em;
}
/* line 116, ../sass/screen.scss */
#dialog button {
  margin-top: 6%;
  font-size: 1.5em;
  width: auto;
}

/* line 123, ../sass/screen.scss */
#isofnietRow {
  margin-top: 50px;
}
/* line 126, ../sass/screen.scss */
#isofnietRow .isofnietButtons {
  width: 135px;
  height: 50px;
  font-size: 21px;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 10px grey;
  text-transform: lowercase;
}
/* line 134, ../sass/screen.scss */
#isofnietRow .isofnietButtons .extraWord {
  display: inline;
  margin-left: 4px;
}
/* line 140, ../sass/screen.scss */
#isofnietRow .isofnietButtons:hover {
  color: #d8bc41;
}
/* line 144, ../sass/screen.scss */
#isofnietRow p {
  margin-top: 20px;
}
/* line 148, ../sass/screen.scss */
#isofnietRow p:first-of-type {
  display: inline;
  margin: 0 10px 0 10px;
  font-family: 'Hand writing Mutlu';
  font-size: 21px;
}

/* line 156, ../sass/screen.scss */
#possibleAnswersRow {
  margin-top: 30px;
}
/* line 160, ../sass/screen.scss */
#possibleAnswersRow .possibleAnswerDiv:first-of-type {
  margin-left: 0;
}
/* line 164, ../sass/screen.scss */
#possibleAnswersRow .possibleAnswerDiv {
  width: auto;
  display: inline;
  margin-left: 15px;
}
/* line 170, ../sass/screen.scss */
#possibleAnswersRow .possibleAnswerDiv .possibleAnswerButton {
  width: 125px;
  height: 50px;
  font-size: 21px;
  background-color: white;
  color: #32477e;
  box-shadow: 2px 2px 10px grey;
}

/* line 181, ../sass/screen.scss */
#score {
  margin-top: 2px;
  font-size: 28px;
}

/* line 186, ../sass/screen.scss */
#gameRulesRow {
  margin-top: 25px;
}
/* line 189, ../sass/screen.scss */
#gameRulesRow h2 {
  margin-bottom: 10px;
}

/* line 195, ../sass/screen.scss */
#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
/* line 200, ../sass/screen.scss */
#footer #questionNumber {
  float: right;
  margin: 0 40px 50px 0;
  color: white;
  opacity: 0.8;
  font-size: 18px;
}
/* line 208, ../sass/screen.scss */
#footer #gameRulesPopup {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin-left: 5.5%;
  padding-bottom: 25px;
  margin-bottom: -5px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 219, ../sass/screen.scss */
#footer #gameRulesIconContainer {
  background-color: white;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 10px;
  margin-left: 5%;
  border: solid 1px rgba(50, 71, 126, 0.3);
}
/* line 230, ../sass/screen.scss */
#footer .rulesIcon {
  margin-top: 12px;
}

@media (max-width: 700px) {
  /* line 238, ../sass/screen.scss */
  #dialog {
    width: auto;
    margin: 0 10px 0 10px;
  }

  /* line 243, ../sass/screen.scss */
  #possibleAnswersRow {
    margin-left: -32px;
  }
  /* line 248, ../sass/screen.scss */
  #possibleAnswersRow .possibleAnswerDiv .possibleAnswerButton {
    width: 220px;
    margin-top: 10px;
  }
  /* line 254, ../sass/screen.scss */
  #possibleAnswersRow .possibleAnswerDiv:first-of-type {
    margin-left: 15px;
  }

  /* line 259, ../sass/screen.scss */
  #footer {
    top: 160px;
    position: absolute;
    z-index: -1;
  }
  /* line 264, ../sass/screen.scss */
  #footer #questionNumber {
    float: none;
    margin: 0;
    font-size: 21px;
  }
}
@media (max-width: 400px) {
  /* line 278, ../sass/screen.scss */
  #possibleAnswersRow .possibleAnswerDiv .possibleAnswerButton {
    width: 250px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  /* line 286, ../sass/screen.scss */
  #isofnietRow p:first-of-type {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* line 294, ../sass/screen.scss */
  #isofnietRow .isofnietButtons {
    width: 250px;
  }
}
/* Admin Styling */
/* line 304, ../sass/screen.scss */
#admin h2 {
  margin-bottom: 10px;
}
/* line 308, ../sass/screen.scss */
#admin h3 {
  font-size: 18px;
  font-family: "Futura Md BT";
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 320, ../sass/screen.scss */
form h2 {
  margin-bottom: 1%;
}
/* line 324, ../sass/screen.scss */
form button {
  float: right;
}
/* line 328, ../sass/screen.scss */
form #extraWordExplanation {
  float: right;
}
/* line 332, ../sass/screen.scss */
form #extraWordCheckbox {
  height: 28px;
  margin-top: 2px;
  box-shadow: none;
}

/* line 340, ../sass/screen.scss */
.warningText {
  color: red;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;
}

/* line 347, ../sass/screen.scss */
.adminBackgroundImages {
  width: 100%;
}

/* line 351, ../sass/screen.scss */
.selectedBackgroundStyle {
  border: solid 4px #777;
}

/* line 355, ../sass/screen.scss */
#manageQuestionsTable {
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
/* line 361, ../sass/screen.scss */
#manageQuestionsTable th {
  text-align: center;
  font-weight: bold;
}
/* line 366, ../sass/screen.scss */
#manageQuestionsTable td {
  border-top: 3px solid #ddd;
  text-align: center;
  width: 100px;
}
/* line 372, ../sass/screen.scss */
#manageQuestionsTable input {
  text-align: center;
}
/* line 376, ../sass/screen.scss */
#manageQuestionsTable select {
  padding-left: 28%;
}
