/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Fascinate Inline', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Iceland', cursive;
  font-family: 'VT323', monospace;
}
/* line 16, ../sass/screen.scss */
body {
  background-color: black;
  color: white;
}

/* line 21, ../sass/screen.scss */
h1 {
  font-family: 'Fascinate Inline';
  font-size: 3em;
  text-align: center;
}

/* line 27, ../sass/screen.scss */
h2 {
  font-size: 2em;
  font-family: 'Iceland';
}

/* line 32, ../sass/screen.scss */
p, button {
  font-family: 'Iceland';
  font-size: 18px;
}

/* line 37, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 41, ../sass/screen.scss */
#game {
  margin-top: 25px;
  text-align: center;
}

/* line 46, ../sass/screen.scss */
.grayScale {
  background-image: none;
  background-color: grey;
  border-color: grey;
}

/* line 52, ../sass/screen.scss */
#dialog {
  width: 50%;
  height: 45%;
  background-color: white;
  margin-left: 25%;
  position: absolute;
  border-radius: 5%;
  color: black;
  margin-right: auto;
  text-align: center;
  position: absolute;
  z-index: 1;
  border: 2px white solid;
}
/* line 67, ../sass/screen.scss */
#dialog h2 {
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 3%;
}
/* line 73, ../sass/screen.scss */
#dialog p {
  font-size: 1.5em;
}
/* line 77, ../sass/screen.scss */
#dialog button {
  margin-top: 8%;
  font-size: 1.5em;
  width: 50%;
}

/* line 84, ../sass/screen.scss */
#isofnietRow {
  margin-top: 20px;
}
/* line 88, ../sass/screen.scss */
#isofnietRow .isofnietButtons {
  width: 10%;
  margin-right: 1%;
  font-size: 24px;
}
/* line 94, ../sass/screen.scss */
#isofnietRow .isofnietButtons .extraWord {
  display: inline;
  text-transform: uppercase;
  margin-left: 4px;
}

/* line 102, ../sass/screen.scss */
#possibleAnswersRow {
  margin-top: 20px;
}
/* line 106, ../sass/screen.scss */
#possibleAnswersRow .possibleAnswerDiv {
  width: auto;
  display: inline;
  margin-right: 1%;
}
/* line 113, ../sass/screen.scss */
#possibleAnswersRow .possibleAnswerDiv .possibleAnswerButton {
  width: 10%;
  font-size: 21px;
  background-color: purple;
  text-transform: capitalize;
}

/* line 122, ../sass/screen.scss */
#score {
  margin-top: 2px;
  font-size: 28px;
}

/* line 127, ../sass/screen.scss */
#gameRulesRow {
  margin-top: 25px;
}
/* line 130, ../sass/screen.scss */
#gameRulesRow h2 {
  margin-bottom: 10px;
}

/* line 137, ../sass/screen.scss */
form h2 {
  text-align: center;
  margin-bottom: 1%;
}
/* line 142, ../sass/screen.scss */
form button {
  float: right;
}
